*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(133,216,233,1) 100%);
  }
  h1{
    color: #FFFACD;
    text-decoration: underline #FFFACD 7px;
}
hr{
    color: white;
}
.intro{
    color: white;
}
.education{
    .box{
        .row{
            .school{
                h5{
                    color: #FF6F61;
                }
            }
        }
    }
}
.projects{
    .container-fluid{
        .row{
            h1{

            }
            .projs{
                .proj{
                    overflow: hidden;
                    border-radius: 30px;
                    margin: 10px;
                    a{
                        img{
                            height: 200px;
                            margin-bottom: 2rem;
                        }
                    }
                    .details{
                        p{
                            width: 90px;
                            height: 30px;
                        }
                    }
                }
            }
        }
    }
}
